<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.admin.common.mapper.AccountMenuMapper" >
  <resultMap id="BaseResultMap" type="com.manager.admin.common.to.AccountMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="accountId" property="accountid" jdbcType="INTEGER" />
    <result column="menuId" property="menuid" jdbcType="INTEGER" />
  </resultMap>
  
    <resultMap id="MenuResultMap" type="com.manager.admin.common.to.Menu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="parentIdPath" property="parentIdPath" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="ownerId" property="ownerId" jdbcType="BIGINT" />
  </resultMap>
  
  <select id="getMenuListByAccountId" resultMap="MenuResultMap" parameterType="java.lang.Long" >
    select m.id, m.name, m.parentId, m.parentIdPath, m.url, am.id as ownerId 
    from menu m inner join account_menu am on m.id = am.menuId 
    where am.accountId=#{accountId}
    order by m.parentIdPath, m.orderNo
  </select>
  
  <sql id="Base_Column_List" >
    id, accountId, menuId
  </sql>
    <delete id="deleteByAccountId" parameterType="java.lang.Long" >
    delete from account_menu where accountId = #{accountId}
  </delete>
  <delete id="deleteByMenuId" parameterType="java.lang.Long" >
    delete from account_menu where menuId = #{menuId}
  </delete>
   <insert id="add" parameterType="com.manager.admin.common.to.AccountMenu" >
    insert into account_menu (accountId, menuId) values (#{accountId}, #{menuId})
  </insert>
  
</mapper>